#churchmember-details {
    width:80%;
}

#churchmember-details td, #churchmember-details th {
    width:50%;
    vertical-align: top;
}

#churchmember-details th {
    text-align:right;
    padding-right:10px;
    font-weight: normal;
}

#churchmember-bodytext {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#form-widgets-church_image .discreet {
    display: none;
}
.church_image {
    padding-left: 20px;
}
