#churchfamily-membertable { width: 100%; }
#churchfamily-membertable td { width: 50%; vertical-align:top; }
div#churchfamily-websites {
    margin-bottom: 10px;
}

#content-core hr{
    margin-bottom: 20px;   
}
